// Hello! 
//import mixins
@import 'mixins/resolutions'

//import stuff
@import 'prepare/reset'

body 
  background #000
  font-family 'Arial'
  font-weight 100
  width 100%
  height 100%

a
  color #222
  text-decoration none

.cmdfm-player
  width 800px
  margin 90px auto
  background #efefef
  border-radius 5px
  left 50%
  margin-left -400px
  position absolute
  
  .player
    position absolute
    width 100%
    height 60px
    background-color rebeccapurple
    img 
      padding 10px
    audio
      width 90%
      height 45px
      float right
      margin-right 15px
  
  .container
    padding-top 60px
  
  .genres-list,
  .tracks-list
    padding 20px
    position relative
  
  .genres-list
    width: 20%
    float left
    a
      font-size 15px
      padding 10px 3px
      line-height 30px
      &:hover
        color red
      
  .tracks-list
    width: 70%
    float right
    cursor pointer
    .track
      padding 10px 0px
      &:hover
        background-color #999
        a 
          color #fff
      img 
        float left
        padding-left 10px
      a
        line-height 40px
        margin-left 15px
    

//apply media queries
apply_media_cache()